/* CSS HEX */
--stormy-teal: #006466ff;
--dark-teal: #065a60ff;
--dark-teal-2: #0b525bff;
--dark-teal-3: #144552ff;
--charcoal-blue: #1b3a4bff;
--deep-space-blue: #212f45ff;
--space-indigo: #272640ff;
--midnight-violet: #312244ff;
--midnight-violet-2: #3e1f47ff;
--deep-purple: #4d194dff;

/* CSS HSL */
--stormy-teal: hsla(181, 100%, 20%, 1);
--dark-teal: hsla(184, 88%, 20%, 1);
--dark-teal-2: hsla(187, 78%, 20%, 1);
--dark-teal-3: hsla(193, 61%, 20%, 1);
--charcoal-blue: hsla(201, 47%, 20%, 1);
--deep-space-blue: hsla(217, 35%, 20%, 1);
--space-indigo: hsla(242, 25%, 20%, 1);
--midnight-violet: hsla(266, 33%, 20%, 1);
--midnight-violet-2: hsla(287, 39%, 20%, 1);
--deep-purple: hsla(300, 51%, 20%, 1);

/* SCSS HEX */
$stormy-teal: #006466ff;
$dark-teal: #065a60ff;
$dark-teal-2: #0b525bff;
$dark-teal-3: #144552ff;
$charcoal-blue: #1b3a4bff;
$deep-space-blue: #212f45ff;
$space-indigo: #272640ff;
$midnight-violet: #312244ff;
$midnight-violet-2: #3e1f47ff;
$deep-purple: #4d194dff;

/* SCSS HSL */
$stormy-teal: hsla(181, 100%, 20%, 1);
$dark-teal: hsla(184, 88%, 20%, 1);
$dark-teal-2: hsla(187, 78%, 20%, 1);
$dark-teal-3: hsla(193, 61%, 20%, 1);
$charcoal-blue: hsla(201, 47%, 20%, 1);
$deep-space-blue: hsla(217, 35%, 20%, 1);
$space-indigo: hsla(242, 25%, 20%, 1);
$midnight-violet: hsla(266, 33%, 20%, 1);
$midnight-violet-2: hsla(287, 39%, 20%, 1);
$deep-purple: hsla(300, 51%, 20%, 1);

/* SCSS RGB */
$stormy-teal: rgba(0, 100, 102, 1);
$dark-teal: rgba(6, 90, 96, 1);
$dark-teal-2: rgba(11, 82, 91, 1);
$dark-teal-3: rgba(20, 69, 82, 1);
$charcoal-blue: rgba(27, 58, 75, 1);
$deep-space-blue: rgba(33, 47, 69, 1);
$space-indigo: rgba(39, 38, 64, 1);
$midnight-violet: rgba(49, 34, 68, 1);
$midnight-violet-2: rgba(62, 31, 71, 1);
$deep-purple: rgba(77, 25, 77, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-right: linear-gradient(90deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-bottom: linear-gradient(180deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-left: linear-gradient(270deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-top-right: linear-gradient(45deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-bottom-right: linear-gradient(135deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-top-left: linear-gradient(225deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-bottom-left: linear-gradient(315deg, #006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
$gradient-radial: radial-gradient(#006466ff, #065a60ff, #0b525bff, #144552ff, #1b3a4bff, #212f45ff, #272640ff, #312244ff, #3e1f47ff, #4d194dff);
