/* CSS HEX */
--charcoal-blue: #464655ff;
--grey-olive: #94958bff;
--pale-slate: #b7b6c1ff;
--lavender: #d5cfe1ff;
--lavender-veil: #eddfefff;

/* CSS HSL */
--charcoal-blue: hsla(240, 10%, 30%, 1);
--grey-olive: hsla(66, 5%, 56%, 1);
--pale-slate: hsla(245, 8%, 74%, 1);
--lavender: hsla(260, 23%, 85%, 1);
--lavender-veil: hsla(293, 33%, 91%, 1);

/* SCSS HEX */
$charcoal-blue: #464655ff;
$grey-olive: #94958bff;
$pale-slate: #b7b6c1ff;
$lavender: #d5cfe1ff;
$lavender-veil: #eddfefff;

/* SCSS HSL */
$charcoal-blue: hsla(240, 10%, 30%, 1);
$grey-olive: hsla(66, 5%, 56%, 1);
$pale-slate: hsla(245, 8%, 74%, 1);
$lavender: hsla(260, 23%, 85%, 1);
$lavender-veil: hsla(293, 33%, 91%, 1);

/* SCSS RGB */
$charcoal-blue: rgba(70, 70, 85, 1);
$grey-olive: rgba(148, 149, 139, 1);
$pale-slate: rgba(183, 182, 193, 1);
$lavender: rgba(213, 207, 225, 1);
$lavender-veil: rgba(237, 223, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-right: linear-gradient(90deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-bottom: linear-gradient(180deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-left: linear-gradient(270deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-top-right: linear-gradient(45deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-bottom-right: linear-gradient(135deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-top-left: linear-gradient(225deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-bottom-left: linear-gradient(315deg, #464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
$gradient-radial: radial-gradient(#464655ff, #94958bff, #b7b6c1ff, #d5cfe1ff, #eddfefff);
